@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-image: url(../images/fruit-background.jpg);
    /* Image by <a href="https://pixabay.com/users/victoria_borodinova-6314823/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=6620951">Artist and zabiyaka</a> 
    from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=6620951">Pixabay</a> */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
/* below css adapted from task mini project and from materalize */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.text-border {
    margin: .5rem;
    padding-bottom: .01rem;
}
.flashes h4 {
    line-height: 2;
}
.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
main {
    flex: 1 0 auto;
}
.box {
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    margin: 0.5rem 0 1rem 0 !important;
}
/* user created - below makes lists in mongoDB display with a capital letter
otherwise would display as all lower as per app.py code */
.uppercase {
    text-transform:capitalize;
    font-family: 'Open Sans', sans-serif;
}
/* used to space out buttons on forms */
.btn-small {
    margin: 5px;
}
/* used to space out buttons on modal */
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
/* used to force footer to display at the bottom
also keeps all pages the same height */
.page-height {
    min-height: 100vh;
}
/* sidenav not allowing selection without this css
Aparently a bug in the materalize css */
.sidenav-overlay {
    display: contents !important;
}
/* Used to move the logo text and paragraphs away from the edge of the screen */
.brand-logo {
    margin-left: 2rem;
}
p {
    margin-left: 2rem;
    margin-right: 2rem;
}