.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}
.uppercase {
    text-transform:capitalize;
}
.btn-small {
    margin: 5px;
}
.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
main {
    flex: 1 0 auto;
}
.box {
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    margin: 0.5rem 0 1rem 0 !important;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.pantry {
    background-image: url("static/css/pantry.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }