{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="page-height">
        <div class="green text-border">
            <h3 class="white-text text-darken-4 text-shadow center-align">Add Food Item
                <a href="{{ url_for('groceries') }}" class="modal-close btn-small red text-shadow">
                    Cancel
                </a></h3>
        </div>

        <div class="row card-panel grey lighten-5">
            <!-- amended from the task mini project -->
            <form class="col s12" method="POST" action="{{ url_for('add_food') }}">
                <!-- Add food item to the food list -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="food_name" name="food_name" minlength="3" maxlength="50" type="text" class="validate"
                            required>
                        <label for="food_name">Add your food item:</label>
                    </div>
                </div>
                <!-- Add a quantity to the food list -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="quantity" name="quantity" type="number" class="validate" required>
                        <label for="quantity">Quantity:</label>
                    </div>
                </div>
                <!-- Add price of the food item -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="price" name="price" minlength="2" maxlength="10" type="text" class="validate">
                        <label for="price">Price: £</label>
                    </div>
                </div>
                <!-- Add barcode or other identifying code of the food item -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="barcode" name="barcode" minlength="3" maxlength="50" type="text" class="validate">
                        <label for="barcode">Barcode or ID number:</label>
                    </div>
                </div>
                <!-- Add the purchase date of the food item -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix light-green-text text-darken-4"></i>
                        <input id="purchase_date" name="purchase_date" type="text" class="datepicker1">
                        <label for="purchase_date">Purchase Date:</label>
                    </div>
                </div>
                <!-- Add use by date of the food item -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix light-green-text text-darken-4"></i>
                        <input id="use_by_date" name="use_by_date" type="text" class="datepicker2" required>
                        <label for="use_by_date">Use by Date:</label>
                    </div>
                </div>
                <!-- Submit Food Item -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large light-green darken-1 text-shadow">
                            Add Food Item <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}