{% extends "base.html" %}
{% block content %}
<div class="green text-border">
<h3 class="white-text text-shadow text-darken-4 center-align">Add an Item to the Shopping List</h3>
</div>
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_shopping') }}">
        <!-- Add food item to the food list -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <input id="food_name" name="food_name" minlength="3" maxlength="50" type="text" class="validate"
                    required>
                <label for="food_name">Add your food item:</label>
            </div>
        </div>
        <!-- Add Quantity -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <input id="quantity" name="quantity" minlength="1" maxlength="3" type="number" class="validate"
                    required>
                <label for="quantity">Add quantity:</label>
            </div>
        </div>
        <!-- Add Price -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <input id="price" name="price" minlength="2" maxlength="10" type="text" class="validate">
                <label for="price">Price: £</label>
            </div>
        </div>
        <!-- Submit Food Item -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Add Food Item <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}