{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="page-height">
        <div class="green text-border">
            <h3 class="white-text text-shadow text-darken-4 center-align">Edit Shopping Food Item</h3>
        </div>

        <div class="row card-panel grey lighten-5 uppercase">
            <form class="col s12" method="POST" action="{{ url_for('edit_shopping', food_name=shopping._id) }}">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="food_name" name="food_name" minlength="3" maxlength="50"
                            value="{{ shopping.food_name }}" type="text" class="validate uppercase" required>
                        <label for="food_name">Food Name:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="quantity" name="quantity" value="{{ shopping.quantity }}" type="number"
                            class="validate uppercase">
                        <label for="quantity"> Quantity: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                        <input id="price" name="price" minlength="2" maxlength="10" value="{{ shopping.price }}"
                            type="text" class="validate uppercase" required>
                        <label for="price">Price: £</label>
                    </div>
                </div>
                <!-- Submit -->
                <div class="row">
                    <div class="col s12 center-align">
                        <!-- cancel button -->
                        <a href="{{ url_for('shopping_list') }}" class="btn-large red text-shadow">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                        <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                            Edit Food Item <i class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}