{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="page-height white">
        <div class="row">
            <div class="col s12 center-align">
                <h1>This cupboard is empty so something has gone wrong</h1>
                <p> {{ error_message }} </p>
            </div>
            <div class="center-align">
                <a class="center-align btn green darken-4 text-shadow" href="{{ url_for('home') }}">Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}