{% extends "base.html" %}
{% block content %}

    <h1 class="light-green-text text-darken-4 center-align">Waste Not Want Not</h3>
    <h3 class="light-green-text text-darken-4 center-align">Helping you to reduce food waste</h5>

        <!-- Only displays Log In section if no user logged in -->
        {% if session.user|lower == username|lower %}
        <h5 class="center-align">Log in</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('index') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-cog prefix light-green-text text-darken-4"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="20"
                            pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix light-green-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="8" maxlength="20"
                            pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- login  or register-->
                <div class="row">
                    <div class="col s12">
                        <a class="col s5 btn light-green darken-4 text-shadow left" href="{{ url_for('register') }}">
                            Register <i class="fas fa-sign-in-alt"></i></a>
                        <button type="submit" class="col s5 btn light-blue darken-4 text-shadow right">
                            Log In <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    <!-- About -->
    <div class="text-darken-4 center-align">
        <h5>Why is food waste a problem?</h5>
        <p>Food waste presents a significant problem due to the volume of waste that is produced each year.
            In fact, in the UK alone, it’s estimated that we throw away around 9.5 million tonnes of food waste
            annually.
            The vast majority of food waste ends up in a landfill site – which are already overcrowded.
            While many people do not view this as an issue as food items degrade naturally over time,
            it contributes heavily to global warming and the erosion of the OZ layer.</p>
        <p>This is because food waste releases a great deal of methane gas as it breaks down.
            According to a report by the EPA,
            methane is 25 times more harmful than carbon dioxide because it can trap heat within the atmosphere.</p>
        <h5>
            Food waste at home
        </h5>
        <p>Food waste also occurs every day within our homes.</p>
        <p>However, it can easily be reduced by:</p>
        <ul>
            <li>
                Pre-planning your meals so that you know exactly what to buy from the supermarket and do not waste money
                on groceries that will not get eaten.
            </li>
            <li>
                Cooking larger meals in bulk and freezing any leftovers to be enjoyed at a later date.
            </li>
            <li>
                Setting up a compost heap in your garden.
            </li>
            <li>
                Cleaning out your fridge regularly, ensuring that you are aware of all use-by dates.
            </li>
            <li>
                Using our app to list all your food items displayed in 'Use by Date' order.
            </li>
        </ul>
    </div>

    {% endblock %}