{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="page-height">
        <div class="green text-border">
            <h3 class="white-text text-darken-4 text-shadow center-align">Shopping List</h3>
        </div>

        <div class="row">
            <div class="col s12 center-align">
                <a type="submit" class="btn-large blue darken-1 text-shadow" href="{{ url_for('add_shopping') }}">
                    Add Shopping Item <i class="fas fa-plus-square right"></i>
                </a>
            </div>
        </div>

        <div class="row">
            {% for item in items %}
            {% if session.user|lower == item.created_by|lower %}
            <div class="col s12">
                <div class="card light-green darken-4 text-shadow">
                    <div class="card-content white-text">
                        <div class="card-title center-align">
                            <span class="left uppercase center-align">Item: {{ item.food_name }}</span>
                            <span class="uppercase center-align">Quantity: {{ item.quantity }}</span>
                        </div>
                        <a href="#{{ item.food_name }}" class="btn-small red modal-trigger">Delete</a>
                        <a href="{{ url_for('edit_shopping', food_name=item._id) }}" class="btn-small blue">Edit</a>
                        <!-- Modal Structure -->
                        <div id="{{ item.food_name }}" class="modal">
                            <div class="modal-content green white-text">
                                <h4>Are You Sure?</h4>
                                <p>To delete food item click 'Delete' below or click 'Cancel' to go back</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('delete_shopping', food_name=item._id) }}"
                                    class="modal-close btn-small blue lighten-1">
                                    Delete
                                </a>
                                <a href="{{ url_for('shopping_list') }}"
                                    class="modal-close left btn-small red text-shadow">
                                    Cancel <i class="fas fa-times-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}