{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Shopping List</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="#" class="btn-large light-blue darken-2 text-shadow">
                Add To Shopping List <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for item in items %}
        {% if session.user|lower == item.created_by|lower %}
            <div class="col s12">
                <div class="card light-blue darken-4 text-shadow center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ item.food_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="#" 
                            class="modal-close btn-small blue lighten-1">
                            Delete
                        </a>
                        <!--  url_for('delete_shopping', food_name=item._id) -->
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}